@page "/"

<h1>Sistema de inventario Parub</h1>
<div class="container-fluid">
    <p class="float-lg-right">
        <span class="oi oi-target" style="font-size:60px"></span>
    </p>
    <p class="h4">
        Bienvenido a tu sistema de inventario de PaRub
    </p>
</div>

